html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background:#062f68;
}


.dashboard {
    position:relative;
    width:100vw;
    height:100vh;
}


.master {
    position:absolute;
    width:100%;
    height:100%;
    object-fit:contain;
    left:0;
    top:0;
}


/* KLOCKA */

.clock-window {
    position:absolute;
    left:8%;
    top:8%;
    z-index:20;
}


#clock {
    color:white;
    font-size:90px;
    font-weight:bold;
}



/* TEMPERATUR */

.temp-window {
    position:absolute;
    left:10%;
    top:30%;
    z-index:20;
}


#temperature {
    color:white;
    font-size:70px;
    font-weight:bold;
}



/* VIND */

.wind-window {
    position:absolute;
    left:10%;
    top:45%;
    z-index:20;
}


#wind {
    color:white;
    font-size:40px;
    font-weight:bold;
}
